
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <th>name</th>
                    <th>address</th>
                </tr>

                <tr *ngFor="let item of data">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-large btn-block btn-default" (click)="dispatchSameData()">Dispatch same data</button>
            <br>
            <button type="button" class="btn btn-large btn-block btn-default" (click)="dispatchDataWithChanged()">Dispatch With Single Change</button>
            <br>
            <button type="button" class="btn btn-large btn-block btn-default" (click)="dispatchCompletelyNewData()">Dispatch With a fresh Data</button>
            <br>
            <button type="button" class="btn btn-large btn-block btn-default" (click)="dispatchClonedData()">Dispatch A cloned Data</button>
        </div>
    </div>